#Seatwork 7.2 Programming Exercise: Data Wrangling with Pandas - Part 2
**CPE311 Computational Thinking with Python** <br><br>
**Name:** Anna Faith A. Catacutan <br>
**Section:** CPE22S3 <br><br>
**Date Performed:** February 19, 2026 <br>
**Date Submitted:**  February 19, 2026 <br>
**Submitted for:** Engr. Neal Barton James Matira

### Exercise Part 4:

Loading the csv file

In [50]:
import pandas as pd
df = pd.read_csv("/content/Meteorite_Landings.csv")

Preparing the data

In [51]:
df["year"] = df["year"].str.slice(6,10)
df["year"] = pd.to_numeric(df["year"])

df["mass (g)"] = pd.to_numeric(df["mass (g)"])

df_filtered = df[(df["year"] >= 2005) & (df["year"] <= 2009)]

Create a pivot table

In [52]:
pivot = pd.pivot_table(
    df_filtered,
    index = "year",
    columns = "fall",
    values = "mass (g)",
    aggfunc = {"mass (g)": ["count",("95th_Percentile", lambda x: x.quantile(0.95))]}
)

pivot.columns = ["_".join(col).replace("<lambda>", "95th_Percentile") for col in pivot.columns]


print(pivot)

        95th_Percentile_Fell  95th_Percentile_Found  count_Fell  count_Found
year
2005.0                   NaN                4500.00         NaN        874.0
2006.0               25008.0                1600.50         5.0       2450.0
2007.0               89675.0                1126.90         8.0       1181.0
2008.0              106000.0                2274.80         9.0        948.0
2009.0                8333.4                1397.25         5.0       1492.0

Compare the summary of statistics

In [53]:
summary = df.groupby("fall")["mass (g)"].describe()
print(summary)

         count          mean            std  min     25%     50%      75%  \
fall
Fell    1075.0  47070.715023  717067.125826  0.1  686.00  2800.0  10450.0
Found  44510.0  12461.922983  571105.752311  0.0    6.94    30.5    178.0

              max
fall
Fell   23000000.0
Found  60000000.0

### Exercise Part 5:

Loading the csv and preparing the data

In [54]:
df_taxi = pd.read_csv("/content/2019_Yellow_Taxi_Trip_Data.csv")
df_taxi["tpep_dropoff_datetime"] = pd.to_datetime(df_taxi["tpep_pickup_datetime"])

df_taxi = df_taxi.set_index("tpep_dropoff_datetime")

Resampling the data and calculating the total trip_distance, fare_amount, tolls_amount, and tip_amount.

In [55]:
hourly = df_taxi.resample('H').agg({
    'trip_distance': 'sum',
    'fare_amount': 'sum',
    'tolls_amount': 'sum',
    'tip_amount': 'sum'
})

print(hourly.head())

                       trip_distance  fare_amount  tolls_amount  tip_amount
tpep_dropoff_datetime
2019-10-23 07:00:00            15.35         54.5           0.0         4.0
2019-10-23 08:00:00            10.77         44.5           0.0         5.5
2019-10-23 09:00:00             1.58         58.0           0.0         0.0
2019-10-23 10:00:00             0.00          0.0           0.0         0.0
2019-10-23 11:00:00             0.00          0.0           0.0         0.0

/tmp/ipython-input-4194660612.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly = df_taxi.resample('H').agg({

Finding the 5 hours with the most tips

In [56]:
most_tips = hourly.sort_values('tip_amount', ascending=False).head(5)
print(most_tips)

                       trip_distance  fare_amount  tolls_amount  tip_amount
tpep_dropoff_datetime
2019-10-23 16:00:00         26609.01    133897.07       5664.10    23488.44
2019-10-23 17:00:00          3072.80     14529.16        508.91     2453.91
2019-10-23 15:00:00           384.91      1970.00         61.46      339.60
2019-10-23 13:00:00             7.92       173.50          0.00       26.86
2019-10-23 14:00:00            24.59       116.50          0.00       16.66