#Hands-on Activity 6.1 | Introduction to Data Analysis and Tools
**CPE311 Computational Thinking with Python** <br><br>
**Name:** Anna Faith A. Catacutan <br>
**Section:** CPE22S3 <br><br>
**Date Performed:** February 15, 2026 <br>
**Date Submitted:**  February 19, 2026 <br>
**Submitted for:** Engr. Neal Barton James Matira

#6.1 Intended Learning Outcomes
1. Use pandas and numpy data analysis tools.
2. Demonstrate how to analyze data using numpy and pandas

#6.2 Resources:
* Personal Computer
* Jupyter Notebook
* Internet Connection

#6.3 Supplementary Activities:
##Exercise 1
Run the given code below for exercises 1 and 2, perform the given tasks without using any Python modules.

In [1]:
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

Using the data generated above, calculate the following statistics without importing anything from the statistics module in the standard library (https://docs.python.org/3/library/statistics.html) and then confirm your results match up to those that are obtained when using the statistics module (where possible):

* Mean
* Median
* Mode (hint: check out the Counter in the collections module of the standard library at https://docs.python.org/3/library/collections.html#collections.Counter)
* Sample variance
* Sample standard deviation

In [2]:
#without importing from the statistics module
mean = sum(salaries)/len(salaries)

if len(salaries)%2 == 1:
  median = sorted(salaries)[len(salaries)//2]
else:
  median = (sorted(salaries)[len(salaries)//2-1] + sorted(salaries)[len(salaries)//2-1])/2

mode = max(set(salaries), key=salaries.count)
sample_variance = sum((x - mean)**2 for x in salaries)/(len(salaries)-1)
sample_sd = sample_variance**0.5

print(f"The mean of the salaries is {mean}.")
print(f"The median of the salaries is {median}.")
print(f"The mode of the salaries is {mode}.")
print(f"The sample variance of the salaries is {sample_variance}.")
print(f"The sample standard deviation of the salaries is {sample_sd}.")

The mean of the salaries is 585690.0.
The median of the salaries is 588000.0.
The mode of the salaries is 477000.0.
The sample variance of the salaries is 70664054444.44444.
The sample standard deviation of the salaries is 265827.11382484.

In [3]:
#importing the statistics module

from statistics import mean, median, mode, variance, stdev

mean = mean(salaries)
median = median(salaries)
mode = mode(salaries)
sample_variance = variance(salaries)
sample_sd = stdev(salaries)

print(f"The mean of the salaries is {mean}.")
print(f"The median of the salaries is {median}.")
print(f"The mode of the salaries is {mode}.")
print(f"The sample variance of the salaries is {sample_variance}.")
print(f"The sample standard deviation of the salaries is {sample_sd}.")

The mean of the salaries is 585690.0.
The median of the salaries is 589000.0.
The mode of the salaries is 477000.0.
The sample variance of the salaries is 70664054444.44444.
The sample standard deviation of the salaries is 265827.11382484.

##Exercise 2
Using the same data, calculate the following statistics using the functions in the statistics module where appropriate:
* Range
* Coefficient of variation Interquartile range
* Quartile coefficient of dispersion

In [4]:
from statistics import quantiles

n = len(salaries)
range = max(salaries) - min(salaries)
coefficient_of_variation = sample_sd / mean
q1 = quantiles(salaries, n=4)[0]
q3 = quantiles(salaries, n=4)[2]
interquartile_range = q3 - q1
qcd = (q3 - q1)/(q3 + q1)

print(f"Range: {range}")
print(f"Coefficient of Variation: {coefficient_of_variation}")
print(f"Interquartile Range: {interquartile_range}")
print(f"Quartile Coefficient of Dispersion: {qcd}")

Range: 995000.0
Coefficient of Variation: 0.45386998894439035
Interquartile Range: 421750.0
Quartile Coefficient of Dispersion: 0.34491923941934166

##Exercise 3: Pandas for Data Analysis
Load the diabetes.csv file. Convert the diabetes.csv into dataframe<br>
Perform the following tasks in the diabetes dataframe:

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/diabetes.csv")

1. Identify the column names

In [6]:
print(df.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

2. Identify the data types of the data

In [7]:
print(df.dtypes)

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

3. Display the total number of records

In [8]:
print(len(df))

768

4. Display the first 20 records

In [9]:
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

5. Display the last 20 records

In [10]:
df.tail(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

6. Change the Outcome column to Diagnosis

In [12]:
df = df.rename(columns = {"Outcome" : "Diagnosis"})
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

7. Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"

In [13]:
df["Classification"] = df["Diagnosis"].apply(lambda x: "Diabetes" if x == 1 else "No Diabetes")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,No Diabetes
764,2,122,70,27,0,36.8,0.340,27,0,No Diabetes
765,5,121,72,23,112,26.2,0.245,30,0,No Diabetes
766,1,126,60,0,0,30.1,0.349,47,1,Diabetes
767,1,93,70,31,0,30.4,0.315,23,0,No Diabetes

8. Create a new dataframe "withDiabetes" that gathers data with diabetes

In [14]:
withDiabetes = df[df["Diagnosis"] == 1]
withDiabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
6,3,78,50,32,88,31.0,0.248,26,1,Diabetes
8,2,197,70,45,543,30.5,0.158,53,1,Diabetes
...,...,...,...,...,...,...,...,...,...,...
755,1,128,88,39,110,36.5,1.057,37,1,Diabetes
757,0,123,72,0,0,36.3,0.258,52,1,Diabetes
759,6,190,92,0,0,35.5,0.278,66,1,Diabetes
761,9,170,74,31,0,44.0,0.403,43,1,Diabetes
766,1,126,60,0,0,30.1,0.349,47,1,Diabetes

9. Create a new dataframe "noDiabetes" thats gathers data with no diabetes

In [15]:
noDiabetes = df[df["Diagnosis"] == 0]
noDiabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
5,5,116,74,0,0,25.6,0.201,30,0,No Diabetes
7,10,115,0,0,0,35.3,0.134,29,0,No Diabetes
10,4,110,92,0,0,37.6,0.191,30,0,No Diabetes
...,...,...,...,...,...,...,...,...,...,...
762,9,89,62,0,0,22.5,0.142,33,0,No Diabetes
763,10,101,76,48,180,32.9,0.171,63,0,No Diabetes
764,2,122,70,27,0,36.8,0.340,27,0,No Diabetes
765,5,121,72,23,112,26.2,0.245,30,0,No Diabetes
767,1,93,70,31,0,30.4,0.315,23,0,No Diabetes

10. Create a new dataframe "Pedia" that gathers data with age 0 to 19

In [17]:
Pedia = df[df["Age"]<=19]
Pedia

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Diagnosis, Classification]
Index: []

11. Create a new dataframe "Adult" that gathers data with age greater than 19

In [18]:
Adult = df[df["Age"]>=19]
Adult

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,No Diabetes
764,2,122,70,27,0,36.8,0.340,27,0,No Diabetes
765,5,121,72,23,112,26.2,0.245,30,0,No Diabetes
766,1,126,60,0,0,30.1,0.349,47,1,Diabetes
767,1,93,70,31,0,30.4,0.315,23,0,No Diabetes

12. Use numpy to get the average age and glucose value.

In [19]:
age_avg = np.mean(df["Age"])
glucose_avg = np.mean(df["Glucose"])

print(f"The average age is {age_avg}.")
print(f"The average glucose is {glucose_avg}.")

The average age is 33.240885416666664.
The average glucose is 120.89453125.

13. Use numpy to get the median age and glucose value.

In [20]:
age_median = np.median(df["Age"])
glucose_median = np.median(df["Glucose"])

print(f"The median age is {age_median}.")
print(f"The median glucose is {glucose_median}.")

The median age is 29.0.
The median glucose is 117.0.

14. Use numpy to get the middle values of glucose and age.

In [21]:
age_middle = np.percentile(df["Age"], 50)
glucose_middle = np.percentile(df["Glucose"], 50)

print(f"The middle value of age is {age_middle}.")
print(f"The middle value 0f glucose is {glucose_middle}.")

The middle value of age is 29.0.
The middle value 0f glucose is 117.0.

15. Use numpy to get the standard deviation of the skinthickness.

In [22]:
sd_skinthickness = np.std(df["SkinThickness"])
print(f"The standard deviation of the skinthickness is {sd_skinthickness}")

The standard deviation of the skinthickness is 15.941828626496978

#6.4 Conclusion
This laboratory activity has helped me in honing the skills that I posses in using both pandas and numpy. I found some of the tasks a bit challenging because I didn't really use the statistics module that much in my previous experiences in using these libraries. I had used AI to help me better uinderstand the errors that I encountered and to help me in what I can modify from my code. Most of the errors that I have encountered are syntax errors due to the incorect symbols or placement of the texts. All in all, i had a great time doing this activity and I am looking forward to learning even more in the future weeks to come.